*.o

WirelessExamples/C/Template/AlgoritmFotbal-build/AlgoritmFotbal.cbp
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeCache.txt
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/2.8.12.2/CMakeCCompiler.cmake
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/2.8.12.2/CMakeCXXCompiler.cmake
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_C.bin
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_CXX.bin
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/2.8.12.2/CMakeSystem.cmake
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/2.8.12.2/CompilerIdC/CMakeCCompilerId.c
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/2.8.12.2/CompilerIdC/a.out
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/2.8.12.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/2.8.12.2/CompilerIdCXX/a.out
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/AlgoritmFotbal.dir/DependInfo.cmake
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/AlgoritmFotbal.dir/build.make
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/AlgoritmFotbal.dir/cmake_clean.cmake
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/AlgoritmFotbal.dir/depend.make
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/AlgoritmFotbal.dir/flags.make
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/AlgoritmFotbal.dir/link.txt
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/AlgoritmFotbal.dir/progress.make
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/CMakeDirectoryInformation.cmake
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/CMakeOutput.log
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/Makefile.cmake
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/Makefile2
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/TargetDirectories.txt
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/cmake.check_cache
WirelessExamples/C/Template/AlgoritmFotbal-build/CMakeFiles/progress.marks
WirelessExamples/C/Template/AlgoritmFotbal-build/Makefile
WirelessExamples/C/Template/AlgoritmFotbal-build/cmake_install.cmake
